.containerHome {
  /* height: 800px; */
  height: 100vh;
  /* width: 100vw; */
}

.divCards {
  height: 700px;
  margin-bottom: 55px;

  /* width: 100vw; */
  /* border: lightseagreen solid 2px; */
}
