.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  margin-left: 400px;
  width: 1200px;
}

/* .btn {
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  background-color: #c9d7d7;
  border: none;
  font-size: large;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 20px;
  width: 150px;
}

.btn:hover {
  background-color: #091f2a;
  color: #eae8e8;
} */
