.btn {
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  background-color: #c9d7d7;
  border: none;
  font-size: large;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 20px;
  width: 150px;
}

.sel {
  padding: 5px;
  /* margin: 5px; */
  border-radius: 15px;
  background-color: white;
  border: none;
  font-size: large;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 20px;
  margin-left: 25px;
  width: 150px;
  cursor: pointer;
}
